:root {
    --text-color: black;
    --background-color: white;
    --grid-min-column-size: 300px;
}

html, body {
    /* height: 100%; */
    padding: 0;
    margin: 0;
    color: var(--text-color);
    background: var(--background-color);
}

#wrapper {
    min-height: 100%;
    width: 100%;
    position: relative;
}

/* common element styles */
.btn {
    outline: none;
    background: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    border: none;
    color: var(--text-color);
}

.btn-circle {
    border: 1px solid var(--text-color);
}

.bg-black {
    background: black;
}

.bg-white {
    background: white;
}

.link {
    text-decoration: none;
    margin: 0px 10px;
    color: var(--text-color);
}

input::placeholder {
    color: var(--text-color);
}

/* header styles */
#header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#header h1 {
    margin: 0px;
}

.header-section {
    padding: 0px 10px;
}

.header-section.right {
    font-size: 0.9rem;
    font-weight: 600;
}

/* navbar styles */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid var(--text-color);
    padding: 5px;
    border-radius: 25px;
    width: 95%;
    height: 25px;
    margin: 0 auto;
}

.navbar > input {
    border: none;
    border-right: 1px solid var(--text-color);
    outline: none;
    background: var(--background-color);
    color: var(--text-color);
}

.btn-dropdown {
    position: relative;
}

#font-size-dropdown {
    border: none;
    background: var(--background-color);
    color: var(--text-color);
    outline: none;
}

.btn-circle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

/* grid styles */
#grid-container {
    width: 95%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--grid-min-column-size), 1fr));
    gap: 20px;
}

.grid-item {
    height: 300px;
    border-top: 2px solid var(--text-color);
    padding: 10px;
}

.font-name, .font-author {
    margin: 0px;
}

.font-text {
    margin-top: 30px;
    line-height: 1em;
    overflow-wrap: break-word;
}

/* footer styles */
#footer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -20px;
}

#footer span {
    padding: 0 10px;
    border-right: 1px solid var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}

#footer span:last-of-type {
    padding-left: 10px;
    border-right: none;
}

/* media queries */
@media screen and (max-width: 600px) {
    #night-mode-toggle {
        display: none;
    }

    #font-size-dropdown {
        display: none;
    }

    .navbar > input {
        width: 40%;
    }
}

@media screen and (max-width: 700px) {
    #list-view-type {
        display: none;
    }

    #header {
        flex-direction: column;
        height: 70px;
        justify-content: center;
        line-height: normal;
    }

    .header-section.right {
        font-size: 0.75rem;
        font-weight: 400;
    }

    .link {
        margin: 0px 5px 0px 0px;
    }
}

@media screen and (max-width: 800px) {
    #reset-btn {
        display: none;
    }
}

